In [1]:
import pandas as pd

In [2]:
nut_cols_to_use = ['name', 'calories', 'total_fat', 'protein', 'carbohydrate']

# FEATURE - Created a list

In [3]:
nutrition = pd.read_csv('nutrition.csv',
                        usecols=nut_cols_to_use)
                        
nutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8789 entries, 0 to 8788
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          8789 non-null   object
 1   calories      8789 non-null   int64
 2   total_fat     8789 non-null   object
 3   protein       8789 non-null   object
 4   carbohydrate  8789 non-null   object
dtypes: int64(1), object(4)
memory usage: 343.4+ KB

# FEATURE - Indexed by name of food, I intend to only use only McDonald's items

In [4]:
nutrition = nutrition.query('name.str.contains("McDONALD")', engine='python')
cals = (nutrition.calories)

#select only rows with mcdonalds

In [5]:
mooncsv = pd.read_csv("mooncsv.csv")

#loaded moon csv

In [6]:
mooncsv = mooncsv[~mooncsv['Interior volume'].isin([0.00])]

#deleted any value in the mooncsv data frame with a value of 0.00

In [7]:
pd.to_numeric(nutrition['calories'])

31       20
34      271
83      264
240     257
759     190
       ...
4587     81
5295    285
5333    204
5423     90
5435     86
Name: calories, Length: 64, dtype: int64

In [8]:
mooncsv.sort_values('Interior volume')

       Crater name   Interior volume
8342        Victory             0.01
5040         Manuel             0.01
5141           Mary             0.01
7970        Trident             0.01
807        Bessel F             0.01
...             ...              ...
895        Blackett         23522.29
4787  Longomontanus         23593.40
3956    Jules Verne         23608.38
516         Babbage         23992.34
2527        Fersman         24594.05

[7368 rows x 2 columns]

#create a 3rd data frame/spreadsheet with the information
#create a graph of some sort
#Only list crater name once for each crater

In [9]:
mooncsv['key'] = 1
nutrition['key'] = 1

#Many to many relationship

In [10]:
tasty_crater = pd.merge(mooncsv,nutrition,on='key')

#drop key column

In [12]:
tasty_crater["Volume x Calories"] = tasty_crater['Interior volume'] * tasty_crater['calories']

#FEATURE Formula

In [13]:
tasty_crater[["Crater name ", "Interior volume", "calories", "Volume x Calories"]]

       Crater name   Interior volume  calories  Volume x Calories
0              Abbe          3536.22        20           70724.40
1              Abbe          3536.22       271          958315.62
2              Abbe          3536.22       264          933562.08
3              Abbe          3536.22       257          908808.54
4              Abbe          3536.22       190          671881.80
...             ...              ...       ...                ...
471547     Zwicky S          1620.56        81          131265.36
471548     Zwicky S          1620.56       285          461859.60
471549     Zwicky S          1620.56       204          330594.24
471550     Zwicky S          1620.56        90          145850.40
471551     Zwicky S          1620.56        86          139368.16

[471552 rows x 4 columns]